<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:p="http://primefaces.org/ui">

<h:head>

	<title>Workshop JSF</title>
</h:head>

<h:body>

	<h:form>
		<h:panelGrid columns="2">

			<h:outputLabel value="ID" />
			<h:inputText value="#{alunoBean.aluno.id}" />
			<h:outputLabel value="Nome" />
			<h:inputText value="#{alunoBean.aluno.nome}" />
			<h:outputLabel value="Telefone" />
			<h:inputText value="#{alunoBean.aluno.telefone}" />

		</h:panelGrid>
		
		<h:commandButton action="#{alunoBean.salvar}" value="Salvar" update="@form" />



	</h:form>

</h:body>

</html>
