<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:p="http://primefaces.org/ui">

<h:head>

	<title>Workshop JSF</title>
</h:head>

<h:body>

	<h:form>
		
		<h:button value="Novo Aluno" outcome="cadastro" />
		<br/>
		<h:dataTable value="#{alunoBean.alunos}" var="aluno">
			<h:column id="ID">
				<h:outputLabel value="#{aluno.id}" />
			</h:column>
			<h:column id="Nome">
				<h:outputLabel value="#{aluno.nome}" />
			</h:column>
			<h:column id="Telefone">
				<h:outputLabel value="#{aluno.telefone}" />
			</h:column>
			
			<h:column>
				<h:commandLink action="#{alunoBean.editar(aluno)}" value="Editar" />
				<h:commandLink action="#{alunoBean.remove(aluno)}" value="Remover" style="margin-left:10px;"  />
			</h:column>

		</h:dataTable>



	</h:form>

</h:body>

</html>
